.header{
    width: 1415px;
    height: 786px;
    display: flex;
  }
  h1{
      font-family: PlayFair Display;
      font-weight: bold;
      font-size: 64px;
      color:#202336;
      position: absolute;
      left: 11.81%; 
      right: 65.94%;
      top: 3.58%;
      bottom: 93.56%;
  }
  .topnav a {
    float: left;
    display: flex;
    color: #B8BECD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    position: right;
  }
  .topnav a.active {
    color: #202336;
  }
  .logo{
    filter: drop-shadow(2px 6px 2px #B8BECD);
    position: left;
  }